/* Custom CSS */

body {
    background-color: #33ccea;
}

header {
    padding: 15px 0px;
}

h1 {
    font-family: 'Pacifico', cursive;
}

h2, h3 {
    font-family: 'Kalam', cursive;
}

h1, h2, h3, p {
    color: #FFFFFF;
}

img {
    width: 100%;
}

.animal {
    margin: 5px;
}

#add-animal {
    padding: 5px 0px 20px 0px;
}

#button-added {
    padding-bottom: 10px;
}
